#include "OGL.h"

MYICON ICON p_logo.ico

IDBITMAP_INDIA BITMAP Images/India.bmp
IDBITMAP_INTERNET BITMAP Images/Internet.bmp
IDBITMAP_LAMINATEDWOODENFLOORING BITMAP Images/LaminatedWoodenFlooring.bmp
IDBITMAP_TILEWALLPAPER BITMAP Images/TileWallpaper.bmp
IDBITMAP_WALLPAPER_OLIVEGREEN BITMAP Images/Wallpaper_.bmp 
IDBITMAP_WALLPAPER_WOODENTEXTUREDARK BITMAP Images/WoodenTexture_Dark.bmp
IDBITMAP_WALLPAPER_WOODENTEXTURE_LIGHT BITMAP Images/WoodenTexture_Light.bmp
IDBITMAP_WALLPAPER_CEILING BITMAP Images/Ceiling_texture.bmp
IDBITMAP_WALLPAPER_DOOR BITMAP Images/Door.bmp
IDBITMAP_WALLPAPER_SKY BITMAP Images/Sky_Wallpaper.bmp
IDBITMAP_WALLPAPER_BUILDING_ONE BITMAP Images/Building_One.bmp
IDBITMAP_WALLPAPER_BUILDING_TWO BITMAP Images/Building_Two.bmp
IDBITMAP_KEYBOARD_TEXTURE BITMAP Images/texture_Keyboard.bmp
IDBITMAP_WIN_7 BITMAP Images/WIN_7.bmp
IDBITMAP_WIN_XP BITMAP Images/WIN_XP.bmp
IDBITMAP_INTERNET_CAFE BITMAP Images/internet_cafe.bmp


MYMUSIC WAVE videoplayback.wav


IDBITMAP_BASETILE BITMAP Images/BaseTile.bmp
IDBITMAP_ROAD BITMAP Images/CityRoad1.bmp
