#include "OGL.h" // THE IDENTITY OF MYICON NOW BECOMES SAME : 1337, ELSE RESOURCE COMPILER WILL GIVE DIFFERENT IDENTIFIERS TO BOTH
MYICON ICON 101.ico 
IDBITMAP_SKY BITMAP images\StationBackground.bmp
IDBITMAP_ROAD BITMAP images\roadTexture.bmp
IDBITMAP_BRICKS BITMAP images\Bricks.bmp
IDBITMAP_BLUE_BRICKS images\blueBricksTexture.bmp
